server:
  port: 8080

spring:
  application:
    name: spring-boot-core

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.springboot.core: DEBUG
    org.springframework: INFO

