server:
  port: 8083

spring:
  application:
    name: spring-security
  datasource:
    url: jdbc:h2:tcp://h2-database:9092/~/securitydb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true

